{% load mptt_tags %}
{% load comment_vote_status %}
<ul class="media-list">
    {% recursetree nodes %}
        <li class="media">
            <div class="media-left">
                {% with vote_value=user_votes|get_vote_value:node.id %}
                <div>
                    <span id="{{ node.id }}-up" class="glyphicon glyphicon-chevron-up" 
                    {% if vote_value == 1  %}
                    style="color : orangered" 
                    {% endif %}
                    aria-hidden="true" onclick="handle_vote({{ node.id }},'up')"></span>
                </div>
                <div>
                    <span id="{{ node.id }}-down" class="glyphicon glyphicon-chevron-down" 
                    {% if vote_value == -1  %}
                    style="color : orangered" 
                    {% endif %}
                    aria-hidden="true" onclick="handle_vote({{ node.id }},'down')"></span>
                </div>
                {% endwith %}
            </div>
            <div class="media-body">
                <em><a href="{% url 'ploghubapp:public_user_profile' node.user %}">{{ node.user }}</a> <span id="{{ node.id }}-points">{{ node.net_votes }}</span> <span id="{{ node.id }}-points-suffix">{{ node.net_votes|get_points }}</span> posted {{ node.time_since_posted }}</em>
                </br>
                </br>
                {{ node.comment_text_html|safe }}

                <div>
                    <ul class="list-inline">
                        <li><a href="{% url 'ploghubapp:reply_to_comment' node.id %}">reply</a></li>

                        {% if node.can_edit and node.user == request.user %}
                            <li><a href="{% url 'ploghubapp:edit_comment' node.id %}">edit</a></li>
                        {% endif %}

                        {% if node.can_delete and node.user == request.user %}
                            <li><a href="{% url 'ploghubapp:delete_comment' node.id %}">delete</a></li>
                        {% endif %}

                    </ul>
                    </br>
                </div>

                {% if not node.is_leaf_node %}
                <ul class="media-list children">
                    {{ children }}
                </ul>
            {% endif %}
            </div>
        </li>
    {% endrecursetree %}
</ul>