{% extends "registration/base.html" %} 
{% load widget_tweaks %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="container-fluid">

   {% include "ploghubapp/errors_and_messages.html" %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-left">
            <p>
            <h3>{{ post.title }}</h3>
            </p>
            </br>
            <p>
                <em>By <a href="{% url 'ploghubapp:public_user_profile' post.user %}">{{ post.user }}</a> on {{ post.created |date:'N j, Y' }}</em>
            </p>
            <p>
                {{ post.body_html|safe }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-left">
            <p>
                {% if nodes %}
                    {% if comments_count == 1 %}
                        <h3>1 comment</h3>
                    {% else %}
                        <h3>{{ comments_count }} comments</h3>
                    {% endif %}
                {% else %}
                    <h3>No comments yet, be the first to comment on this post!</h3>
                {% endif %}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                <label for="{{ form.comment.id_for_label }}">Add Comment</label> 
                {{ form.comment |add_class:"form-control" |attr:"rows:5" }}
                </p>
                <input class="btn btn-primary" type="submit" value="Add comment" id="id_submit" />
            </form>

            {% if nodes %}
                </br>
                {% include "ploghubapp/comment.html" %}
            {% endif %}
        </div>
    </div>

   <br />
   <br />

</div>

{% endblock %}

{% block extra_scripts %}

<script src="{% static "global/js/tab_textarea.js" %}"></script>
<script src="{% static "global/js/comment_vote.js" %}"></script>

{% endblock %}