{% extends "registration/base.html" %} 
{% load widget_tweaks %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="container-fluid">

   {% include "ploghubapp/errors_and_messages.html" %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-left">
            <p>
                    <div class="media">
                            <div class="media-left text-center">
                                <div>
                                    <span id="{{ post.id }}-post-up" class="glyphicon glyphicon-chevron-up" 
                                    {% if post_vote_value == 1  %}
                                    style="color : orangered" 
                                    {% endif %}
                                    aria-hidden="true" onclick="handle_post_vote({{ post.id }},'up')"></span>
                                </div>
                                <div>
                                <span id="{{ post.id }}-post-points">{{ post.net_votes }}</span>
                                </div>
                                <div>
                                    <span id="{{ post.id }}-post-down" class="glyphicon glyphicon-chevron-down" 
                                    {% if post_vote_value == -1  %}
                                    style="color : orangered" 
                                    {% endif %}
                                    aria-hidden="true" onclick="handle_post_vote({{ post.id }},'down')"></span>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <a href="{% url 'ploghubapp:view_post' post.id post.user post.title|slugify %}">{{ post.title }}</a>
                            </div>
                        </div>
            </p>
            </br>
            <p>
                <em>By <a href="{% url 'ploghubapp:public_user_profile' post.user %}">{{ post.user }}</a> on {{ post.created |date:'N j, Y' }}</em>
                <ul class="list-inline">
                    <li><a href="{% url 'ploghubapp:edit_post' post.id %}">edit</a></li>

                    {% if post.can_delete and post.user == request.user %}
                        <li><a href="{% url 'ploghubapp:delete_post' post.id %}">delete</a></li>
                    {% endif %}

                </ul>
            </p>
            <p>
                {{ post.body_html|safe }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-left">
            <p>
                {% if nodes %}
                    {% if comments_count == 1 %}
                        <h3>1 comment</h3>
                    {% else %}
                        <h3>{{ comments_count }} comments</h3>
                    {% endif %}
                {% else %}
                    <h3>No comments yet, be the first to comment on this post!</h3>
                {% endif %}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                <label for="{{ form.comment.id_for_label }}">Add Comment</label> 
                {{ form.comment |add_class:"form-control" |attr:"rows:5" }}
                </p>
                <input class="btn btn-primary" type="submit" value="Add comment" id="id_submit" />
            </form>

            {% if nodes %}
                </br>
                {% include "ploghubapp/comment.html" %}
            {% endif %}
        </div>
    </div>

   <br />
   <br />

</div>

{% endblock %}

{% block extra_scripts %}

<script src="{% static "global/js/tab_textarea.js" %}"></script>
<script src="{% static "global/js/comment_vote.js" %}"></script>
<script src="{% static "global/js/post_vote.js" %}"></script>

{% endblock %}